<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" type="text/css" href="/public/css/Councilstyle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
</head>
<body>
    <header>
        <h3>Our Team</h3>
    </header>

    <div class="title">
        <h1>Meet These Fine Folks</h1>
    </div>

    <div class="container">
        <div class="content">
            <img src="/public/Images/Coucil 2023 Photographs/hemang.jfif">
            <h3>Chairperson</h3>
            <h2>Hemang Sinha</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/hemang-sinha/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Computer hai be.jpg">
            <h3>Vice-Chairperson</h3>
            <h2>Jaitn Pandey</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/jatinpandey02/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Piyush.jpg">
            <h3>Co-Vice Chair</h3>
            <h2>Piyush K. Sahoo</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/piyush-kumar-sahoo-dtu/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Priyansh Tyagi.jpg">
            <h3>Treasurer</h3>
            <h2>Priyansh Tyagi</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/priyanshtyagi/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Aeshita.jpeg">
            <h3>General Secretary</h3>
            <h2>Aeshita Mathur</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/aeshita-mathur-584863200/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/garvit .jpeg">
            <h3>Chairperson, Computer Society</h3>
            <h2>Garvit Kansal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/helewrer3/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Nitya.jpeg">
            <h3>Vice-Chair, Computer Society</h3>
            <h2>Nitya Mittal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/mittalnitya/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Jayant Jethi.jpg">
            <h3>Secretary, Computer Society</h3>
            <h2>Jayant Jethi</h2>
            <div class="foot-icon">
                <li><a href=" https://www.linkedin.com/in/jayant-jethi-492312197/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/IMG_20220603_005042_642.jpg">
            <h3>Secretary, Computer Society</h3>
            <h2>Himanshu Jindal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/himanshu-jindal-199332a0/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Joint.jpg">
            <h3>Joint Secretary</h3>
            <h2>Vaibhav Srivastava</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/vaibhav-2107/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Pranay-Khosla.jpg">
            <h3>Chairperson, PES-IAS</h3>
            <h2>Pranay Khosla</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/pranay-k-50432554/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Abhigyan.jpg">
            <h3>Vice-Chair, PES-IAS</h3>
            <h2>Abhigyan Adarsh</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/abhigyan-adarsh/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Nischay.jpeg">
            <h3>Secretary, PES-IAS</h3>
            <h2>Nischay</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/nischay-b87027214/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/sakshi panchal.jpg">
            <h3>Chairperson, WIE-AG</h3>
            <h2>Sakshi Panchal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/2331sakshi/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/SakshiArora.jpg">
            <h3>Vice-Chair, WIE-AG</h3>
            <h2>Sakshi Arora</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/sakshiarora8/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/devika.jpg">
            <h3>Secretary, WIE_AG</h3>
            <h2>Deviak Jaiswal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/devika-jaiswal-806960153/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Ayushee Agarwal.jpg">
            <h3>Secretary, WIE_AG</h3>
            <h2>Ayushee Aggarwal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/ayushee-agarwal-0b285b176/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Sidhant Semwal.jpg">
            <h3>Head of Technical Affairs</h3>
            <h2>Sidhant Semwal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/sidhantsemwal/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Ritika.jpg">
            <h3>Head of Publications</h3>
            <h2>Ritika Kanojia</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/ritika-kanojia-4807a8204/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/Dikshant.jpg">
            <h3>Head of Hospitality, Logistics</h3>
            <h2>Dikshant Pabri</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/public/Imgaes/Coucil 2023 Photographs/devika.jpg">
            <h3>Head of Design</h3>
            <h2>Devika Jaiswal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/devika-jaiswal-806960153/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
    </div>
</body>
</html>