<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSSWYC 2022</title>
    <!-- Google fonts
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap"
        rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet" />

    <!--AOS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <div class="count-particles"><span class="js-count-particles"></span></div>
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>

    <!-- Navbar Starts -->
    <header>
        <div class="logo">
            <img src="/Images/Final_logo.png" />
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <div class="nav mainMenu">
            <!-- <li><a href="#home">Home</a></li> -->
            <li><a href="#about">About</a></li>
            <!-- <li><a href="#organisers">Organisers</a></li> -->
            <li><a href="#speakers">Speakers</a></li>
            <!-- <li><a href="#schedule">Schedule</a></li> -->
            <li><a href="#buy-tickets">Tickets</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#galary">Gallery</a></li>
            <li><a href="#faq">FAQ's</a></li>
            <li><a href="#contactus">Contact Us</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <li>
                    <a target="_blank" href="https://www.facebook.com/aisywc"><i
                            class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/ieeeindiacouncil/"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/ieeeindiacouncilsct/"><i
                            class="fa-brands fa-linkedin"></i></a>
                </li>
                <!-- <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i> -->
            </span>
        </div>
    </header>
    <!-- Navbar Ends -->
    <!-- <a href="#top" class="fas fa-angle-up" id="scroll-top"></a> -->
    <!-- Welcome Starts -->
    <section class="banner" id="home">
        <div class="container">
            <div class="title">
                <h1>
                    IEEE Delhi Section<br />
                    Students - Young Professionals <br />
                    Women In Engineering <br />
                    Congress
                </h1>
                <h3>17th & 18th September 2022</h3>
                <p>Host: Delhi Technological University, Delhi</p>
            </div>
            <div class="register">
                <h1>Registrations Opening Soon!</h1>
            </div>
            <!-- <button type="button"><span></span>Register Now!</button> -->
            <div class="countdown">00 : 00 : 00 : 00</div>
        </div>
    </section>
    <!-- Welcome Ends -->

    <!-- About Us Starts -->

    <div class="about" id="about">
        <h2>About DSSYWC</h2>
        <hr />
        <p>
            DSSYWC'22, the IEEE Delhi Section's annual flagship event, encourages
            all young professionals, academicians, researchers, businessmen, and
            engineers from a variety of areas and professions to share one united
            stage for a better flow of ideas. Every year, the goal is to create new
            paradigms in technical sectors that will assist future generations with
            a brighter future. Delegates from the IEEE Delhi Section are invited to
            attend the conference and embrace the amazing blend of their cultures
            and vibrant thoughts.
        </p>

        <p>
            The Congress intends to bring about much-needed and desired reform in a
            number of fields. DSSYWC'22 aims to strike a spark in the attendee's
            imagination with its diverse and inclusive presentations, expert
            sessions, and panel discussions hosted by distinguished speakers from
            all walks of life.
        </p>
    </div>
    <!-- About Section Ends -->

    <!-- Cards Starts -->
    <section class="eve" id="organisers">
        <div class="card-head">
            <h1>About Organisers</h1>
            <hr />
        </div>
        <main class="grid-container">
            <article class="featured">
                <img src="/Images/IEEE Delhi Section Logo-10 WHITE.png" alt="featured img" />
                <div>
                    <h2>IEEE Delhi Section</h2>
                    <p>
                        The IEEE Delhi Section is one of the IEEE India Council's earliest
                        founded sections, falling within the IEEE Region-10. The section
                        currently covers the states of Punjab, Haryana, Himachal Pradesh,
                        the National Capital Territory, as well as the UTs of Jammu and
                        Kashmir, and Ladakh, with two subsections in Chandigarh and
                        Rajasthan. There are 22 technical Societies and Council Chapters
                        in the Section, along with four affinity groups: Women in
                        Engineering, Young Professionals, Consultants Network, and Life
                        Members. The IEEE Delhi Section has a massive number of 100+
                        Student branches with 4500+ Student members that strive for
                        perfection with each stride we take together towards the future.
                    </p>
                    <button type="button"><span></span>Read More!</button>
                </div>
            </article>
            <article class="featured">
                <img src="/Images/IEE DTUlogo.png" alt="featured img" />
                <div>
                    <h2>IEEE DTU</h2>
                    <p>
                        IEEE DTU Student Branch is the oldest as well as the largest
                        student branch in Delhi Section of Region 10. With the aim of
                        instilling scientific temperament in the student community through
                        a plethora of activities around the year it boasts of a colorful
                        history spanning over three decades. Today, IEEE DTU claims to
                        have under its wing a massive strength of more than 250 student
                        members, working actively throughout the year.
                    </p>
                    <button type="button"><span></span>Read More!</button>
                </div>
            </article>
            <!-- <article class="featured">
                <img src="/Images/Event-1.jpg" alt="featured img">
                <div>
                    <h2>Ballon Magic</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ipsam asperiores possimus adipisci non, porro consequatur dolorem iste voluptatum ullam ratione commodi. Repellendus culpa voluptas eaque hic quibusdam? Earum exercitationem esse reiciendis deleniti natus totam dignissimos accusamus expedita debitis nam et hic, minima nemo maxime, veniam placeat, quidem quibusdam quos!</p>
                    <button type="button"><span></span>Read More!</button>
                </div>
            </article> -->
        </main>
    </section>

    <!-- Sponsors -->
    <section class="dark-bg-2" id="sponsors"> 
        <!-- container start -->
        <div class="spon-head">
            <h1>Our Sponsors</h1>
            <hr/>
        </div>
        <!-- <div class="spon-sub-head">
          <h1 style="color: white; text-align: center;">Title Sponsors</h1>
          <ul class="client-list d-flex-wrap">
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/1.png" class="hover-opac-img"> <img src="images/clients/1.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/2.png" class="hover-opac-img"> <img src="images/clients/2.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/3.png" class="hover-opac-img"> <img src="images/clients/3.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/4.png" class="hover-opac-img"> <img src="images/clients/4.png" class="opac-img"> </div>
                </a> </li> 
          </ul>
        </div> -->
        <div class="spon-sub-head">
          <h1 style="color: white; text-align: center;">Title Sponsors</h1>
          <div class="content">
            <img src="/Images/IEEE Delhi Section Logo-10 WHITE.png">
            <!-- <img src="/Images/clients/2.png"> -->
          </div>
        </div>
        <!-- <div class="spon-sub-head">
          <h1 style="color: white; text-align: center;">Event Sponsors</h1>
          <div class="content">
            <img src="/Images/clients/1.png">
            <img src="/Images/clients/2.png">
          </div>
        </div>
        <div class="spon-sub-head">
          <h1 style="color: white; text-align: center;">Associate Sponsors</h1>
          <div class="content">
            <img src="/Images/clients/1.png">
            <img src="/Images/clients/2.png">
          </div>
        </div>
        <div class="spon-sub-head">
          <h1 style="color: white; text-align: center;">Food Sponsors</h1>
          <div class="content">
            <img src="/Images/clients/1.png">
            <img src="/Images/clients/2.png">
          </div>
        </div> -->
        <!-- <div class="spon-sub-head">
          <h1 style="color: white; text-align: center">Associate Sponsors</h1>
          <ul class="client-list d-flex-wrap">
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/1.png" class="hover-opac-img"> <img src="images/clients/1.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/2.png" class="hover-opac-img"> <img src="images/clients/2.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/3.png" class="hover-opac-img"> <img src="images/clients/3.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/4.png" class="hover-opac-img"> <img src="images/clients/4.png" class="opac-img"> </div>
                </a> </li> 
          </ul>
        </div> -->
        <!-- <div class="spon-sub-head">
          <h1 style="color: white; text-align: center">Food Sponsors</h1>
          <ul class="client-list d-flex-wrap">
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/1.png" class="hover-opac-img"> <img src="images/clients/1.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/2.png" class="hover-opac-img"> <img src="images/clients/2.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/3.png" class="hover-opac-img"> <img src="images/clients/3.png" class="opac-img"> </div>
                </a> </li>
              <li> <a href="#" class="pointer-large d-block">
                <div class="brand-box"> <img src="images/clients/4.png" class="hover-opac-img"> <img src="images/clients/4.png" class="opac-img"> </div>
                </a> </li> 
          </ul>
        </div> -->
        <!-- container end --> 
        <div class="container">
          <button type="button"><span></span>Become a Sponsor!</button>
        </div>
    </section>
    <!-- Sponsors End -->

    <!-- Speakers Section -->
    <section class="speaker" id="speakers">
        <div class="speak-head">
            <h1>Our Speakers</h1>
            <hr />
            <!-- <h2>Coming Soon!</h2> -->
        </div>
        <div style="justify-content: center; align-self: center; margin-top:10%">
            <h1 style="text-align: center; color: white; font-size: 4rem;">Coming Soon !</h1>
        </div>
        <!-- <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/deal1.jpg" /></div>
                    <div class="contentBx">
                        <h2>
                            Someone Famous<br />
                            <h4>Creative Designer</h4>
                        </h2>
                    </div>
                </div>
                <i class="fa-brands fa-linkedin" style="color: white"></i>
            </div>

            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/deal1.jpg" /></div>
                    <div class="contentBx">
                        <h2>
                            Someone Famous<br />
                            <h4>Creative Designer</h4>
                        </h2>
                    </div>
                </div>
                <i class="fa-brands fa-linkedin" style="color: white"></i>
            </div>

            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/deal1.jpg" /></div>
                    <div class="contentBx">
                        <h2>
                            Someone Famous<br />
                            <h4>Creative Designer</h4>
                        </h2>
                    </div>
                </div>
                <i class="fa-brands fa-linkedin" style="color: white"></i>
            </div>
        </div> -->
    </section>
    <!-- Speakers Section Ends -->

    <!-- TicketsStarts -->
    <section id="buy-tickets" class="tickets">
        <div class="ticket-head">
            <h1>Buy Tickets</h1>
            <hr />
        </div>
        <div style="justify-content: center; align-self: center; margin-top:10%">
            <h1 style="text-align: center; color: white; font-size: 4rem;">Coming Soon !</h1>
        </div>
        <!-- <div class="tik-container">
            <div class="card-1">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            IEEE <br />
                            LIMITED ACCESS PASS
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i> 200</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Welcome Kit</li>
                            <br />
                            <li>Star Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to networking activities</li>
                            <br />
                        </div>
                        <hr />
                        <% if(start){ %> <% if(Count >= 0 && Count <= TN){ %>
                        <button type="submit" class="button">
                            <a href="/form">Buy Tickets Now</a>
                        </button>
                        <% }else if(Count > TN && Count <= ES){ %>
                        <button type="submit" class="button">
                            <a href="/form">Ending Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Closed</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card-2">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            NON-IEEE <br />
                            ALL ACCESS PASS
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i> 600</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Welcome Kit</li>
                            <br />
                            <li>Star Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to networking activities</li>
                            <br />
                        </div>
                        <hr />
                        <% if(start){ %> <% if(Count >= 0 && Count <= TN){ %>
                        <button type="submit" class="button">
                            <a href="/form">Buy Tickets Now</a>
                        </button>
                        <% }else if(Count > TN && Count <= ES){ %>
                        <button type="submit" class="button">
                            <a href="/form">Ending Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Closed</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="card-3">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            IEEE <br />
                            ALL ACCESS PASS
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i> 400</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Welcome Kit</li>
                            <br />
                            <li>Star Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to networking activities</li>
                            <br />
                        </div>
                        <hr />
                        <% if(start){ %> <% if(Count >= 0 && Count <= TN){ %>
                        <button type="submit" class="button">
                            <a href="/form">Buy Tickets Now</a>
                        </button>
                        <% }else if(Count > TN && Count <= ES){ %>
                        <button type="submit" class="button">
                            <a href="/form">Ending Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Closed</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

    <!-- Galary Starts -->
    <section class="galary" id="galary">
        <div class="galary-head">
            <h1>Our Gallery</h1>
            <hr />
        </div>
        <div class="grid-content">
            <div class="image">
                <img class="image__img" src="/Images/galary1.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Esteemed Panelists</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery5.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Insightful Speaker Section</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery2.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Team Work and Collaboration</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery3.jpg" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Mentorship and Guidance</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery4.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Fillers of the Event</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery6.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Awards and Recognition</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer section starts -->
    <!-- <div class="contact-wrap">
			<div class="contact-in">
				<h1>Contact Info</h1>
				<h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
				<p>123-456-789</p>
				<h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
				<p>info@democompany.com</p>
				<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
				<p>Vasant Vihar, Delhi, India</p>
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="contact-in">
				<h1>Send a Message</h1>
				<form>
					<input type="text" placeholder="Full Name" class="contact-in-input">
					<input type="text" placeholder="Email" class="contact-in-input">
					<input type="text" placeholder="Subject" class="contact-in-input">
					<textarea placeholder="Message" class="contact-in-textarea"></textarea>
					<input type="submit" value="SUBMIT" class="contact-in-btn">
				</form>
			</div>
			<div class="contact-in">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9972861335577!2d77.11617251428461!3d28.749497985530073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1661088793900!5m2!1sen!2sin" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div> -->

    <!-- FAQ's Start -->
    <section class="faq" id="faq">
        <h1 class="faq-title">
            FAQ's
            <hr />
        </h1>

        <div class="questions-container">
            <div class="question">
                <button>
                    <span>What is DSSYWC?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    DSSYWC'22 is IEEE Delhi Section's annual flagship event which aims
                    to strike a spark in the attendee's imagination with its diverse and
                    inclusive presentations, expert sessions, and panel discussions
                    hosted by distinguished speakers from all walks of life.
                </p>
            </div>
            <div class="question">
                <button>
                    <span>What is its Objective?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    Ideas that shape the future are conceived by millions but
                    implemented by tens. However, when Academicians, Technologists,
                    Scientists, Doctors, Students, and Young Professionals from the IEEE
                    Delhi Section join forces, those numbers multiply manyfold. With the
                    same goal in mind, the IEEE Delhi Section hosts DSSYWC'22, a forum
                    where experts from various fields may exchange ideas with keynote
                    speakers from diverse fields and witness an intuitive manifest for
                    greeting, discussing, previewing, debating, and creating ideas for a
                    better future.
                </p>
            </div>
            <div class="question">
                <button>
                    <span>Where will DSSYWC'22 be held?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    DSSYWC 2022 is being conducted in offline mode at Delhi
                    Technological University on 17th and 18th September.
                </p>
            </div>

            <div class="question">
                <button>
                    <span>What is the theme of the Congress?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    The theme of the Congress revolves around coming up with innovation,
                    networking with people and taking inspiration from the fellow IEEE
                    members. INNOVATE, CONNECT, INSPIRE.
                </p>
            </div>
        </div>
    </section>
    <!-- FAq's End -->
    <section id="venue">
        <div id="venueWrapper">
            <h1 id="venueHeader">Venue</h1>
            <hr>
            <div class="flexControl">
                <div id="over_map">
                    <h1 style="font-weight: normal;">Venue Details:</h1>
                    <h2>Delhi Technological University</h2>
                    <h2 style="font-weight: normal;">Address: </h2>
                    <p style="line-height: 30px;font-size:1.2rem;">Bawana Rd, Delhi Technological University, Shahbad
                        Daulatpur Village, Rohini, New Delhi, Delhi
                        110042</p>
                </div>
                <div class="venue-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9974436580337!2d77.1161725152425!3d28.749493282371855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1661063690846!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Venue Area End -->

    <footer id="contactus">
        <div class="footer-content">
            <div class="contactUs">
                <div class="rowContactUs">
                    <div class="columnContactUs">
                        <h4>Anshul Yadav</p>
                            <p> SSR, IEEE Delhi SSN</p>
                            <p> <i class="fa fa-phone" aria-hidden="true"></i> +91 93541 16637</p>
                    </div>
                    <div class="columnContactUs">
                        <h4>Kailash Maurya </p>
                            <p>SSR, IEEE Delhi SSN</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 72898 14216</span> </p>
                    </div>
                </div>
                <div class="rowContactUs">
                    <div class="columnContactUs">
                        <h4>Hemang Sinha </p>
                            <p>Chairperson, IEEE DTU SB</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 92053 65997</span> </p>
                    </div>
                    <div class="columnContactUs">
                        <h4>Jatin Pandey</p>
                            <p> Vice-Chairperson, IEEE DTU SB</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 96504 08541</span> </p>
                    </div>
                </div>
            </div>
            <div>
                <h3>Connect With Us</h3>
                <ul>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/aisywc"><i
                                class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/ieeeindiacouncil/"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/ieeeindiacouncilsct/"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 IEEE DTU.</p>
        </div>
    </footer>
    <!-- Footer section ends -->

    <script src="/js/app.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1000,
        });
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>