<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="" /> -->
    <title>DSSYWC 2022</title>
    <!-- Google fonts
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap"
        rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <link rel="icon" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" sizes="192x192" href="/Images/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/Images/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/Images/apple-touch-icon.png">



    <!--AOS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <div class="count-particles"><span class="js-count-particles"></span></div>
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>

    <!-- Navbar Starts -->
    <header>
        <div class="logo">
            <img class="img3" src="/Images/My project.png" />
            <!-- <img class="img2" src="/Images/IEEE Delhi Section Logo-10 BLUE.png"/> -->
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="nav mainMenu">
            <!-- <li><a href="#home">Home</a></li> -->
            <li><a href="#about">About</a></li>
            <li><a href="#organisers">Organisers</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <!-- <li><a href="#schedule">Schedule</a></li> -->
            <li><a target="_blank" href="/teams">Team</a>
                <!-- <div class="submenu">
                    <ul>
                        <li><a href="#">SSN Team</a></li>
                        <li><a href="#">IEEE Team</a></li>
                    </ul>
                </div> -->
            </li>
            <li><a href="#buy-tickets">Tickets</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#galary">Gallery</a></li>
            <li><a href="#faq">FAQ's</a></li>
            <li><a href="#Contactus">Contact Us</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <li>
                    <a target="_blank" href="https://www.facebook.com/ieeedssywc/"><i
                            class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/showcase/ieeedssywc/"><i
                            class="fa-brands fa-linkedin"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/ieeedssywc/"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
            </span>
        </ul>
    </header>

    <!-- Navbar Ends -->
    <!-- Welcome Starts -->
    <section class="banner" id="home">
        <div class="container">

            <div class="title">
                <h1>
                    IEEE Delhi Section<br />
                    Students - Young Professionals <br />
                    Women In Engineering <br />
                    Congress
                </h1>
                <br />
                <h3>17th & 18th September 2022</h3>
                <p>Host: Delhi Technological University, Delhi</p>
            </div>
            <!-- <div class="register">
                <h1 style="color: yellow; font-size: 35px">Registrations Opening Soon!</h1>
            </div> -->
            <button type="button" onclick="location.href='#buy-tickets'"><span></span>Register
                Now!</button>
            <div class="countdown">00 : 00 : 00 : 00</div>
        </div>
    </section>
    <!-- Welcome Ends -->
    <!-- About Us Starts -->
    <div class="about" id="about">
        <h2>About DSSYWC</h2>
        <hr />
        <p>
            DSSYWC'22, the IEEE Delhi Section's annual flagship event, encourages
            all young professionals, academicians, researchers, businessmen, and
            engineers from a variety of areas and professions to share one united
            stage for a better flow of ideas. Every year, the goal is to create new
            paradigms in technical sectors that will assist future generations with
            a brighter future. Delegates from the IEEE Delhi Section are invited to
            attend the conference and embrace the amazing blend of their cultures
            and vibrant thoughts.
        </p>

        <p>
            The Congress intends to bring about much-needed and desired reform in a
            number of fields. IEEE DSSYWC'22 aims to strike a spark in the attendee's
            imagination with its diverse and inclusive presentations, expert
            sessions, and panel discussions hosted by distinguished speakers from
            all walks of life.
        </p>
    </div>
    <!-- About Section Ends -->

    <!-- Cards Starts -->
    <section class="eve" id="organisers">
        <div class="card-head">
            <h1>About Organisers</h1>
            <hr />
        </div>
        <main class="grid-container">
            <article class="featured">
                <img src="/Images/clients/IEEE Delhi Section Logo-10 WHITE.png" alt="featured img" />
                <div class="featuredContent">
                    <h2>IEEE Delhi Section</h2>
                    <p>
                        The IEEE Delhi Section is one of the IEEE India Council's earliest
                        founded sections, falling within the IEEE Region-10. The section
                        currently covers the states of Punjab, Haryana, Himachal Pradesh,
                        the National Capital Territory, as well as the UTs of Jammu and
                        Kashmir, and Ladakh, with two subsections in Chandigarh and
                        Rajasthan. There are 22 technical Societies and Council Chapters
                        in the Section, along with four affinity groups: Women in
                        Engineering, Young Professionals, Consultants Network, and Life
                        Members. The IEEE Delhi Section has a massive number of 100+
                        Student branches with 4500+ Student members that strive for
                        perfection with each stride we take together towards the future.
                    </p>
                    <button type="button" onclick="location.href='https://ieeedelhisac.in/'">Read
                        More!</button>
                </div>
            </article>
            <article class="featured">
                <img src="/Images/IEE DTUlogo.png" alt="featured img" />
                <div class="featuredContent">
                    <h2>IEEE DTU</h2>
                    <p>
                        IEEE DTU Student Branch is the oldest as well as the largest
                        student branch in Delhi Section of Region 10. With the aim of
                        instilling scientific temperament in the student community through
                        a plethora of activities around the year it boasts of a colorful
                        history spanning over three decades. Today, IEEE DTU claims to
                        have under its wing a massive strength of more than 250 student
                        members, working actively throughout the year.
                    </p>
                    <button type="button" onclick="location.href='https://ieeedtu.in/'"><span></span>Read More!</button>
                </div>
            </article>
            <!-- <article class="featured">
                <img src="/Images/Event-1.jpg" alt="featured img">
                <div>
                    <h2>Ballon Magic</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ipsam asperiores possimus adipisci non, porro consequatur dolorem iste voluptatum ullam ratione commodi. Repellendus culpa voluptas eaque hic quibusdam? Earum exercitationem esse reiciendis deleniti natus totam dignissimos accusamus expedita debitis nam et hic, minima nemo maxime, veniam placeat, quidem quibusdam quos!</p>
                    <button type="button"><span></span>Read More!</button>
                </div>
            </article> -->
        </main>
    </section>
    <section class="dark-bg-2" id="sponsors">
        <!-- container start -->
        <div class="spon-head">
            <h1>Our Sponsors</h1>
            <hr />
        </div>
        <!-- <div class="spon-sub-head">
        <h1 style="color: white; text-align: center;">Title Sponsors</h1>
        <ul class="client-list d-flex-wrap">
            <li> <a href="#" class="pointer-large d-block">
              <div class="brand-box"> <img src="images/clients/1.png" class="hover-opac-img"> <img src="images/clients/1.png" class="opac-img"> </div>
              </a> </li>
            <li> <a href="#" class="pointer-large d-block">
              <div class="brand-box"> <img src="images/clients/2.png" class="hover-opac-img"> <img src="images/clients/2.png" class="opac-img"> </div>
              </a> </li>
            <li> <a href="#" class="pointer-large d-block">
              <div class="brand-box"> <img src="images/clients/3.png" class="hover-opac-img"> <img src="images/clients/3.png" class="opac-img"> </div>
              </a> </li>
            <li> <a href="#" class="pointer-large d-block">
              <div class="brand-box"> <img src="images/clients/4.png" class="hover-opac-img"> <img src="images/clients/4.png" class="opac-img"> </div>
              </a> </li> 
        </ul>
      </div> -->
        <div class="spon-sub-head">
            <h1>Title Sponsors</h1>
            <div class="content">
                <img src="/Images/clients/IEEE Delhi Section Logo-10 WHITE.png">
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Event Sponsors</h1>
            <div class="content" style="flex-direction: column;">
                <div style="flex-direction: row;margin-top:2vh">
                    <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/wie DS.png">
                    <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/yp white.png">
                    <img style="margin-left:2vw;margin-top:2vh" style="height: 160px;"
                        src="/Images/clients/IEEE_DTU_Logo.png">
                </div>
                <br>
                <div style="flex-direction: row;">
                    <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/Elite techno Logo.png">
                    <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/SUD-Logo.jpg">
                </div>
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Associate Sponsors</h1>
            <div class="content">
                <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/Jnuobi.jpeg">
                <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/DigitalOcean.png">
                <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/Padhakku Logo Blue .jpg">
                <img style="margin-left:2vw;margin-top:2vh" src="/Images/clients/interview cake.svg">
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Youth Sponsors</h1>
            <div class="content">
                <img src="/Images/clients/GV_New Logo-01.png">
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Media Sponsors</h1>
            <div class="content">
                <img src="/Images/clients/eat-my-news.png">
                <img src="/Images/clients/techhstory.jpg">
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Food Sponsors</h1>
            <div class="content">
                <img src="/Images/clients/Bikanervala-logo-1.png">
            </div>
        </div>
        <div class="spon-sub-head">
            <h1>Coding Partner</h1>
            <div class="content">
                <img src="/Images/clients/gfg-new-logo.png">
            </div>
        </div>
        <div class="container">
            <button type="button" onclick="location.href='https://forms.gle/Z8YTZczuLxnZJTxe6'"><span></span>Become a
                Sponsor!</button>
        </div>
    </section>
    <!-- Sponsors End -->

    <!-- Speakers Section -->
    <section class="speaker" id="speakers">
        <div class="speak-head">
            <h1>Our Speakers</h1>
            <hr />
            <!-- <h2>Coming Soon!</h2> -->
        </div>
        <!-- <div style="justify-content: center; align-self: center; margin-top:10%">
            <h1 style="text-align: center; color: white; font-size: 4rem;">Coming Soon !</h1>
        </div> -->
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/sandeepJain.jfif" /></div>
                    <div class="contentBx">
                        <h2>
                            Sandeep Jain<br />
                            <h4>Founder and CEO GFG</h4>
                        </h2>
                    </div>
                </div>
                <a target="a_blank" href="https://www.linkedin.com/in/sandeep-jain-b3940815/?originalSubdomain=in"><i
                        class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/clients/Gaurav Sen.jpg" /></div>
                    <div class="contentBx">
                        <h2>
                            Gaurav Sen<br />
                            <h4>Founder of InterviewReady</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a target="a_blank" href="https://www.linkedin.com/in/gkcs/?originalSubdomain=in"><i
                        class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://drive.google.com/uc?export=view&id=1znWdo2WDo5WZiBPOQ54P0_f_e6_p3JLS" />
                    </div>
                    <div class="contentBx">
                        <h2>
                            Ms. Garima Patel<br />
                            <h4>Advisory, DSSYWC</h4>
                        </h2>
                    </div>
                </div>
                <a target="a_blank" href="https://www.linkedin.com/in/garima-patel/">
                    <i class="fa-brands fa-linkedin" style="color: white">
                    </i>
                </a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/clients/Ishan Sharma.jfif" /></div>
                    <div class="contentBx">
                        <h2>
                            Ishan Sharma<br />
                            <h4>Co-Founder of MarkitUp</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a target="a_blank" href="https://www.linkedin.com/in/ishansharma7390/?originalSubdomain=in">
                    <i class="fa-brands fa-linkedin" style="color: white"></i>
                </a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx" style="margin-top:1rem"><img src="/Images/clients/Ankush Singla.jpg" /></div>
                    <div class="contentBx">
                        <h2>
                            Ankush Singhla<br />
                            <h4>Co-Founder of Coding Ninjas</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a target="a_blank" href="https://www.linkedin.com/in/ankushsingla/?originalSubdomain=in"> <i
                        class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx" style="margin-top:1rem"><img src="/Images/clients/SCKishore.jpeg" />
                    </div>
                    <div class="contentBx">
                        <h2>
                            MR SC Kishore<br />
                            <h4>Charted Accountant and Motivational Speaker</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a  href="/">
                    <i class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/clients/priya.png" /></div>
                    <div class="contentBx">
                        <h2>
                            Priya Vajpeyi<br />
                            <h4>Software Engineer at Adobe and Public Speaker</h4>
                        </h2>
                    </div>
                </div>
                <a target="a_blank" href="https://www.linkedin.com/in/priya-vajpeyi/"><i class="fa-brands fa-linkedin"
                        style="color: white"></i></a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/Images/clients/shivani.png" /></div>
                    <div class="contentBx">
                        <h2>
                            Shivani Sharma<br />
                            <h4>Principle Technical Consultant, Hitachi Energy </h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a target="a_blank" href="https://www.linkedin.com/in/dr-shivani-sharma-70208b25/">
                    <i class="fa-brands fa-linkedin" style="color: white"></i>
                </a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="/Images/clients/vanshika.png" />
                    </div>
                    <div class="contentBx">
                        <h2>
                            Vanshika Garg<br />
                            <h4>Imaginer at Fractal.ai and Former DSC Lead at Google</h4>
                        </h2>
                    </div>
                </div>
                <a target="a_blank" href="https://www.linkedin.com/in/vanshikagarg17/">
                    <i class="fa-brands fa-linkedin" style="color: white">
                    </i>
                </a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img
                            src="https://drive.google.com/uc?export=view&id=19eANoQ4b-hCE7LXGr1v0Qji1m7inv3Be" /></div>
                    <div class="contentBx">
                        <h2>
                            Rashmi Agarwal<br />
                            <h4>SAC Member IEEE Delhi Section</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a href="/">
                    <i class="fa-brands fa-linkedin" style="color: white"></i>
                </a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx" style="margin-top:1rem"><img src="/Images/clients/Subrata-Mukhopadhyay.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>
                            Prof Subrata Mukhopadhyay<br />
                            <h4>Advisor IEEE PES</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a  href="/"> <i
                        class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx" style="margin-top:1rem"><img src="/Images/clients/Abdul-Quaiyum-Ansari.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>
                            Prof Abdul Quaiyum Ansari<br />
                            <h4>Executive Vice Chair IEEE Delhi Section</h4>
                        </h2>
                    </div>
                </div>
                <br>
                <a href="/">
                    <i class="fa-brands fa-linkedin" style="color: white"></i></a>
            </div>
        </div>
    </section>
    <!-- Speakers Section Ends -->
    <section id="event-schedule">
        <div class="card-head">
            <h1>Event Schedule</h1>
            <hr />
        </div>
        <div class="schedule">
            <button type="button" onClick='showTable(1);'>17th September 2022</button>
            <button type="button" onClick='showTable(2);'>18th September 2022</button>
        </div>
        <main class="grid-container">
            <table id="table-1">
                <caption>Day 1: 17th September 2022 (Saturday)</caption>
                <thead>
                    <tr>
                        <th>SNo.</th>

                        <th>Event</th>
                        <th>Timings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Registration and Ice-Breaking Session</td>
                        <td>8:30:00 AM - 10:00:00 AM</td>

                    </tr>
                    <tr>
                        <td>2</td>

                        <td>Inauguration Ceremony</td>
                        <td>10:00:00 AM - 11:15:00 AM</td>

                    </tr>
                    <tr>
                        <td>3</td>

                        <td>Tea Break</td>
                        <td>11:15:00 AM - 11:45:00 AM</td>

                    </tr>
                    <tr>
                        <td>4</td>

                        <td>Networking Session</td>
                        <td>11:45:00 AM - 12:00:00 PM</td>

                    </tr>
                    <tr>
                        <td>5</td>

                        <td style="padding:0;">
                            <div class="split">
                                <div class="border">Panel Discussion - 1</div>
                                <div>SB Counselors and Chairs Meet with SAC Chair</div>
                            </div>
                        </td>
                        <td>11:45:00 PM - 12:30:00 PM</td>

                    </tr>
                    <tr>
                        <td>6</td>

                        <td style="padding:0;">
                            <div class="split">
                                <div class="border">Volunteer Training -
                                    Students and YP Track</div>
                                <div>Volunteer Training - WiE Track</div>
                            </div>
                        </td>
                        <td>12:30:00 PM - 1:15:00 PM</td>

                    </tr>
                    <tr>
                        <td>7</td>

                        <td>Lunch Break</td>
                        <td>1:15:00 PM - 2:15:00 PM</td>

                    </tr>
                    <tr>
                        <td>8</td>

                        <td>Networking Session</td>
                        <td>2:15:00 PM - 2:45:00 PM</td>

                    </tr>
                    <tr>
                        <td>9</td>

                        <td>Experience Sharing Session</td>
                        <td>2:45:00 PM - 3:30:00 PM</td>

                    </tr>
                    <tr>
                        <td>10</td>

                        <td>Plenary Session - 1(Tech Based)</td>
                        <td>3:30:00 PM - 4:30:00 PM</td>

                    </tr>
                    <tr>
                        <td>11</td>

                        <td>Cultural Night</td>
                        <td>5:30:00 PM - 7:30:00 PM</td>

                    </tr>
                </tbody>
            </table>
            <table id="table-2">
                <caption>Day 2: 18th September 2022 (Sunday)</caption>
                <thead>
                    <tr>
                        <th>SNo.</th>
                        <th>Event</th>
                        <th>Timings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ice-Breaking Session and Tea</td>
                        <td>9:00:00 AM - 10:00:00 AM</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td style="padding:0;">
                            <div class="split">
                                <div class="border">SB Executive Committees Open Discussion</div>
                                <div class="border">SB WIE AG Executive Committees Open Discussion</div>
                                <div>Networking Session</div>
                            </div>
                        </td>
                        <td>10:00:00 AM - 10:45:00 AM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Panel Discussion - 2 WIE</td>
                        <td>10:45:00 AM - 11:30:00 AM</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Panel Discussion - 3 (Motivation Talk(30min) + Mayank Arora(30min))</td>
                        <td>11:30:00 AM - 12:15:00 PM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Lunch Break</td>
                        <td>12:15:00 PM - 1:00:00 PM</td>

                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Networking Session</td>
                        <td>1:00:00 PM - 1:15:00 PM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Plenary Talk - 2 (Vartalabh)</td>
                        <td>1:15:00 PM - 2:00:00 PM</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Student Branch and WiE AG Presentation</td>
                        <td>2:00:00 PM - 3:30:00 PM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Project Exhibition</td>
                        <td>3:30:00 PM - 4:00:00 PM</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Closing Ceremony</td>
                        <td>4:00:00 PM - 4:45:00 PM</td>
                    </tr>
                </tbody>
            </table>
        </main>

    </section>

    <!-- TicketsStarts -->
    <section id="buy-tickets" class="tickets">
        <div class="ticket-head">
            <h1>Buy Tickets</h1>
            <hr style="margin-bottom: 30px;" />
        </div>
        <!-- <div style="justify-content: center; align-self: center; margin-top:10%">
            <h1 style="text-align: center; color: white; font-size: 4rem;">Coming Soon !</h1>
        </div> -->
        <div class="tik-container">
            <div class="card-1">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            IEEE Members<br />
                            <span style="font-size:1rem">Without Accommodation</span>
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i>500</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Delegate Kit & Food </li>
                            <br />
                            <li>Cultural Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to <br> networking activities</li>
                            <br />
                            <br />
                        </div>
                        <hr />
                        <% if(start){ %> <% if(IP >= 0 && IP <= Passes[0].TN){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Buy Tickets
                                Now</a>
                        </button>
                        <% }else if(IP > Passes[0].TN && IP <= Passes[0].ES){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Ending
                                Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Coming Soon</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card-2">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            IEEE Members<br />
                            <span style="font-size:1rem">With Accommodation</span>
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i> 1200</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Delegate Kit & Food</li>
                            <br />
                            <li>Cultural Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to <br> networking activities</li>
                            <br />
                            <li>Accommodation Available</li>
                        </div>
                        <hr />
                        <% if(start){ %> <% if(NIP >= 0 && NIP <= Passes[1].TN){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Buy Tickets
                                Now</a>
                        </button>
                        <% }else if(NIP > Passes[1].TN && NIP <= Passes[1].ES){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Ending
                                Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Coming Soon</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card-3">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            NON IEEE Members<br />
                            <span style="font-size:1rem">Without Accommodation</span>
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i>625</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Delegate Kit & Food</li>
                            <br />
                            <li>Cultural Night</li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to <br> networking activities</li>
                            <br />
                            <br />
                        </div>
                        <hr />
                        <% if(start){ %> <% if(IPA >= 0 && IPA <= Passes[2].TN){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Buy Tickets
                                Now</a>
                        </button>
                        <% }else if(IPA > Passes[2].TN && IPA <= Passes[2].ES){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Ending
                                Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Coming Soon</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card-4">
                <div class="content">
                    <div class="contentBx">
                        <h2>
                            NON IEEE Members<br />
                            <span style="font-size:1rem">With Accommodation</span>
                        </h2>
                        <h1><i class="fa-solid fa-indian-rupee-sign"></i>1325</h1>
                        <hr />
                        <div class="card-inner">
                            <li>Speaker Session</li>
                            <br />
                            <li>Delegate Kit & Food</li>
                            <br />
                            <li>Cultural Night </li>
                            <br />
                            <li>Chance to win Prizes</li>
                            <br />
                            <li>Unlimited Access to <br> networking activities</li>
                            <br />
                            <li>Accommodation Available</li>
                        </div>
                        <hr />
                        <% if(start){ %> <% if(NIPA >= 0 && NIPA <= Passes[3].TN){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Buy Tickets
                                Now</a>
                        </button>
                        <% }else if(NIPA > Passes[3].TN && NIPA <= Passes[3].ES){ %>
                        <button type="submit" class="button">
                            <a target="_blank" href="https://www.townscript.com/e/ieee-dssywc-2022-341014">Ending
                                Soon</a>
                        </button>
                        <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Sold Out</a>
                        </button>
                        <% } %> <% }else{ %>
                        <button type="submit" class="button">
                            <a href="/">Coming Soon</a>
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="accommodation" id="accommodationId">
        <div class="card-head">
            <h1 style="font-size:2.2rem;padding-top:10px;text-align: center;">Accommodation Details</h1>
            <hr />
        </div>
        <main class="grid-container">
            <article class="featured">
                <div class="featuredContent">
                    <h1 class="Acc_h1">
                        Vishal Heights
                    </h1>
                    <h2 class="Acc_h2">Address: </h2>

                    <p class="Acc_p">
                        Shahbad Daulatpur, Main Bawana Road, Near Vikram Dharam Kanta & Hanuman Mandir, New Delhi-110042
                    </p>
                    <button style="margin-bottom:2rem" type="button"
                        onclick="location.href='https://www.oyorooms.com/163524/'"><span></span>
                        Click Here to Know More!
                    </button>
                </div>
                <div class="Acc_imgs">
                    <img style="margin-top:-2.5rem"
                        src="https://images.oyoroomscdn.com/uploads/hotel_image/163524/large/7b79e24e5808f3ab.jpg"
                        alt="featured img" />
                    <img style=margin-top:-1.5rem"
                        src="https://images.oyoroomscdn.com/uploads/hotel_image/163524/large/e9c8b1cca04b9b0d.jpg"
                        alt="featured img" />
                    <img style="margin-top:-1.5rem"
                        src="https://images.oyoroomscdn.com/uploads/hotel_image/163524/large/3357820d20b1d776.jpg"
                        alt="featured img" />
                </div>
            </article>
        </main>
    </section>

    <!-- Galary Starts -->
    <section class="galary" id="galary">
        <div class="galary-head">
            <h1>Our Gallery</h1>
            <hr />
        </div>
        <div class="grid-content">
            <div class="image">
                <img class="image__img" src="/Images/galary1.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Esteemed Panelists</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery5.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Insightful Speaker Sessions</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery2.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Teamwork and Collaboration</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery3.jpg" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Mentorship and Guidance</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery4.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Pillars of the Event</div>
                </div>
            </div>
            <div class="image">
                <img class="image__img" src="/Images/gallery6.JPG" alt="Event XYZ" />
                <div class="image__overlay image__overlay--blur">
                    <div class="image__title">Awards and Recognitions</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer section starts -->
    <!-- <div class="contact-wrap">
			<div class="contact-in">
				<h1>Contact Info</h1>
				<h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
				<p>123-456-789</p>
				<h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
				<p>info@democompany.com</p>
				<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
				<p>Vasant Vihar, Delhi, India</p>
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="contact-in">
				<h1>Send a Message</h1>
				<form>
					<input type="text" placeholder="Full Name" class="contact-in-input">
					<input type="text" placeholder="Email" class="contact-in-input">
					<input type="text" placeholder="Subject" class="contact-in-input">
					<textarea placeholder="Message" class="contact-in-textarea"></textarea>
					<input type="submit" value="SUBMIT" class="contact-in-btn">
				</form>
			</div>
			<div class="contact-in">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9972861335577!2d77.11617251428461!3d28.749497985530073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1661088793900!5m2!1sen!2sin" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div> -->

    <!-- FAQ's Start -->
    <section class="faq" id="faq">
        <h1 class="faq-title">
            FAQ's
            <hr />
        </h1>

        <div class="questions-container">
            <div class="question">
                <button>
                    <span>What is DSSYWC?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    DSSYWC'22 is IEEE Delhi Section's annual flagship event which aims
                    to strike a spark in the attendee's imagination with its diverse and
                    inclusive presentations, expert sessions, and panel discussions
                    hosted by distinguished speakers from all walks of life.
                </p>
            </div>
            <div class="question">
                <button>
                    <span>What is its Objective?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    Ideas that shape the future are conceived by millions but
                    implemented by tens. However, when Academicians, Technologists,
                    Scientists, Doctors, Students, and Young Professionals from the IEEE
                    Delhi Section join forces, those numbers multiply manyfold. With the
                    same goal in mind, the IEEE Delhi Section hosts IEEE DSSYWC'22, a forum
                    where experts from various fields may exchange ideas with keynote
                    speakers from diverse fields and witness an intuitive manifest for
                    greeting, discussing, previewing, debating, and creating ideas for a
                    better future.
                </p>
            </div>
            <div class="question">
                <button>
                    <span>Where will IEEE DSSYWC'22 be held?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    DSSYWC 2022 is being conducted in offline mode at Delhi
                    Technological University on 17th and 18th September.
                </p>
            </div>

            <div class="question">
                <button>
                    <span>What is the theme of the Congress?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>
                    The theme of the Congress revolves around coming up with innovation,
                    networking with people and taking inspiration from the fellow IEEE
                    members. INNOVATE, CONNECT, INSPIRE.
                </p>
            </div>
        </div>
    </section>
    <!-- FAq's End -->
    <section id="venue">
        <div id="venueWrapper">
            <h1 id="venueHeader">Venue</h1>
            <hr>
            <div class="flexControl">
                <div id="over_map">
                    <h1 style="font-weight: normal;">Venue Details:</h1>
                    <h2 style="word-break: break-all;font-size:1.5rem;">Delhi Technological University</h2>
                    <h2 style="font-weight: normal; font-size:1.5rem;">Address: </h2>
                    <p>Bawana Rd, Delhi Technological University, Shahbad
                        Daulatpur Village, Rohini, New Delhi, Delhi
                        110042</p>
                </div>
                <div class="venue-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.9974436580337!2d77.1161725152425!3d28.749493282371855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1661063690846!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Venue Area End -->

    <footer id="Contactus">
        <div class="footer-content">
            <div>
                <div class="rowContactUs">
                    <div class="columnContactUs">
                        <p class="name">Anshul Yadav</p>
                        <p> SSR, IEEE Delhi SSN</p>
                        <p> <i class="fa fa-phone" aria-hidden="true"></i> +91 93541 16637</p>
                    </div>
                    <div class="columnContactUs">
                        <p class="name">Kailash Maurya </p>
                        <p>SSR, IEEE Delhi SSN</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 72898 14216</span> </p>
                    </div>
                </div>
                <div class="rowContactUs">
                    <div class="columnContactUs">
                        <p class="name">Hemang Sinha </p>
                        <p>Chairperson, IEEE DTU SB</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 92053 65997</span> </p>
                    </div>
                    <div class="columnContactUs">
                        <p class="name">Jatin Pandey</p>
                        <p> Vice-Chairperson, IEEE DTU SB</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i><span> +91 96504 08541</span> </p>
                    </div>
                </div>
            </div>
            <div>
                <h3>Connect With Us</h3>
                <ul>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/ieeedssywc/"><i
                                class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/showcase/ieeedssywc/"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/ieeedssywc/"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2022 IEEE DTU.</p>
        </div>
    </footer>
    <!-- Footer section ends -->

    <script src="/js/app.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1000,
        });
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>