<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" type="text/css" href="/css/Teamstyle.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <div class="title">
        <h1>MEET THE SSN TEAM</h1>
    </div>

    <div class="container">
        <div class="content">
            <img src="/Images/Teams/Tanisha Dhawan.jfif">
            <h3>Mentor</h3>
            <h2>Tanisha Dhawan</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Piyush Kumar Sahoo.jpg">
            <h3>Mentor</h3>
            <h2>Piyush Kumar Sahoo</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Kailash Maurya.png">
            <h3>Section Student Representative </h3>
            <h2>Kailash Maurya</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/ANSHUL YADAV.jpg">
            <h3>Section Student Representative</h3>
            <h2>Anshul Yadav</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Divyansh Bansal.jpeg">
            <h3>Subsection Student Representative</h3>
            <h2>Divyansh Bansal</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Vaidehi Purohit.jpeg">
            <h3>Subsection Student Representative</h3>
            <h2>Vaidehi Purohit</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Mohsina Bilal.jpeg">
            <h3>Networking and Social Media</h3>
            <h2>Mohsina Bilal</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/SHRUTI KUHAR.jpeg">
            <h3>Networking and Social Media</h3>
            <h2>Shruti Kuhar</h2>
            <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
    </div>
</body>

</html>