<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" type="text/css" href="/css/Teamstyle.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <div class="title">
        <h1>MEET THE SSN TEAM</h1>
    </div>
    <div class="container">
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=18qwk5ShG4Ee5itRuc-zzR37AENgsYpz5">
            <h3>Chair, Section and SAC</h3>
            <h2>Prof. Rachana Garg</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=19eANoQ4b-hCE7LXGr1v0Qji1m7inv3Be">
            <h3>Member, SAC</h3>
            <h3>Secretary, WIE AG</h3>
            <h2>Prof. Rashmi Agarwal</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1Thc4qFoonFo6aZLCn_P27IqTBhmb1syE">
            <h3>Member, SAC</h3>
            <h2>Prof. Jeetu Sharma</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1I_DFWvxytH9x_UmEybeikxZK9RpaKs6c">
            <h3>Member, SAC</h3>
            <h2>Prof. Shruti Jain</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=174N_s8Mm7S027RPMfh0rEB6aIF-nAcdQ">
            <h3>Chair, WIE AG</h3>
            <h2>Prof. Priya Mahajan</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>

        <div class="content">
            <img src="/Images/Teams/Dr. Sapna .jpg">
            <h3>Treasurer, WIE AG</h3>
            <h2>Dr. Sapna Gambhir</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1znWdo2WDo5WZiBPOQ54P0_f_e6_p3JLS">
            <h3>Advisory, DSSYWC</h3>
            <h2>Ms. Garima Patel</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/garima-patel/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1uyIHkwWssLsKLVF7IER3eY3h0AxNrgtK">
            <h3>Advisory, DSSYWC</h3>
            <h2>Mr. J. Ashwin Nair</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/jashwinnair/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1euIPZZPMFQPDG-O54SiDAw9hbfyk6-72">
            <h3>Mentor</h3>
            <h2>Tanisha Dhawan</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/tanisha-dhawan-9b1b331ab/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1itdn4Ieao4rxhQvqJI2u4E23JaaCdBo_">
            <h3>Mentor</h3>
            <h2>Piyush Kumar Sahoo</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/piyush-kumar-sahoo-dtu/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1ahifBm-iFeCadnL3B0l-y1uaaM9ICJv0">
            <h3>Section Student Representative </h3>
            <h2>Kailash Maurya</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/kailash-maurya-032898208/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1bWSn0a8cQec9M460I1uIKSOzO7tEBcGc">
            <h3>Section Student Representative</h3>
            <h2>Anshul Yadav</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/anshul-yadav-784602208/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1T6scH5gvUuTnkl-Zr_9WJTa-_ppWMfFu">
            <h3>Subsection Student Representative</h3>
            <h2>Divyansh Bansal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/idivyanshbansal/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1dkvslWkldSBtaPBRrjq1dHJCjxDoF1bQ">
            <h3>Subsection Student Representative</h3>
            <h2>Vaidehi Purohit</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/vaidehipurohit01/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1n_byklK8JaoNiVpzyplm8fHgYJbf76Cq">
            <h3>Networking and Social Media</h3>
            <h2>Mohsina Bilal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/mohsina-bilal-3ab454221/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=17LJ65XJPPo-DGPN0BLUd4sYzca_lyF5M">
            <h3>Networking and Social Media</h3>
            <h2>Shruti Kuhar</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shruti-kuhar-235884230/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
    </div>
</body>

</html>