<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" type="text/css" href="/css/Teamstyle.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    <link rel="icon" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" sizes="192x192" href="/Images/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/Images/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/Images/apple-touch-icon.png">
</head>

<body>
    <div class="title">
        <h1>IEEE Delhi Section SAC</h1>
    </div>
    <div class="container">
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=18qwk5ShG4Ee5itRuc-zzR37AENgsYpz5">
            <h3>Chair, Section and SAC</h3>
            <h2>Prof. Rachana Garg</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=19eANoQ4b-hCE7LXGr1v0Qji1m7inv3Be">
            <h3>Member, SAC</h3>
            <h3>Secretary, WIE AG</h3>
            <h2>Prof. Rashmi Agarwal</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1Thc4qFoonFo6aZLCn_P27IqTBhmb1syE">
            <h3>Member, SAC</h3>
            <h2>Prof. Jeetu Sharma</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1I_DFWvxytH9x_UmEybeikxZK9RpaKs6c">
            <h3>Member, SAC</h3>
            <h2>Prof. Shruti Jain</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=174N_s8Mm7S027RPMfh0rEB6aIF-nAcdQ">
            <h3>Chair, WIE AG</h3>
            <h2>Prof. Priya Mahajan</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="/Images/Teams/Dr. Sapna .jpg">
            <h3>Treasurer, WIE AG</h3>
            <h2>Dr. Sapna Gambhir</h2>
            <!-- <div class="foot-icon">
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
    </div>
    <div class="title">
        <h1>IEEE Delhi SSN</h1>
    </div>
    <div class="container">
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1znWdo2WDo5WZiBPOQ54P0_f_e6_p3JLS">
            <h3>Advisory, DSSYWC</h3>
            <h2>Ms. Garima Patel</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/garima-patel/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1uyIHkwWssLsKLVF7IER3eY3h0AxNrgtK">
            <h3>Advisory, DSSYWC</h3>
            <h2>Mr. J. Ashwin Nair</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/jashwinnair/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1euIPZZPMFQPDG-O54SiDAw9hbfyk6-72">
            <h3>Mentor</h3>
            <h2>Tanisha Dhawan</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/tanisha-dhawan-9b1b331ab/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1itdn4Ieao4rxhQvqJI2u4E23JaaCdBo_">
            <h3>Mentor</h3>
            <h2>Piyush Kumar Sahoo</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/piyush-kumar-sahoo-dtu/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1ahifBm-iFeCadnL3B0l-y1uaaM9ICJv0">
            <h3>Section Student Representative </h3>
            <h2>Kailash Maurya</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/kailash-maurya-032898208/"><i
                            class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1bWSn0a8cQec9M460I1uIKSOzO7tEBcGc">
            <h3>Section Student Representative</h3>
            <h2>Anshul Yadav</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/anshul-yadav-784602208/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1T6scH5gvUuTnkl-Zr_9WJTa-_ppWMfFu">
            <h3>Subsection Student Representative</h3>
            <h2>Divyansh Bansal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/idivyanshbansal/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1dkvslWkldSBtaPBRrjq1dHJCjxDoF1bQ">
            <h3>Subsection Student Representative</h3>
            <h2>Vaidehi Purohit</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/vaidehipurohit01/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>






        <div class="content">
            <img src="/Images/Teams/My Photo - Vikramaditya Hiran.jpeg">
            <h3>Technical Activities Lead</h3>
            <h2>Vikramaditya Hiran</h2>
            <!-- <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shruti-kuhar-235884230/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="/Images/Teams/Mayank Jaiswal.jpg">
            <h3>Technical Activities Coordinator</h3>
            <h2>Mayank Jaiswal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/mayankjaiswal2002/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/LAKSHAY CHAWLA.jpg">
            <h3>Technical Activities Coordinator</h3>
            <h2>Lakshay Chawla</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/lakshaychawla/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Shashi Kushwaha.jpg">
            <h3>Technical Activities Coordinator</h3>
            <h2>Shashi Kushwaha</h2>
            <!-- <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shruti-kuhar-235884230/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div> -->
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=1n_byklK8JaoNiVpzyplm8fHgYJbf76Cq">
            <h3>Networking and Social Media</h3>
            <h2>Mohsina Bilal</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/mohsina-bilal-3ab454221/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="https://drive.google.com/uc?export=view&id=17LJ65XJPPo-DGPN0BLUd4sYzca_lyF5M">
            <h3>Networking and Social Media</h3>
            <h2>Shruti Kuhar</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shruti-kuhar-235884230/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="/Images/Teams/dheeraj Jain.jpg">
            <h3>Networking and Social Media Coordinator</h3>
            <h2>Dheeraj Jain</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/dheeraj-jain-691011202/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>




        <div class="content">
            <img src="/Images/Teams/Rishi Raj Thakur.jpg">
            <h3>Networking and Social Media Coordinator</h3>
            <h2>Rishi Raj Thakur</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/rishi-raj-thakur-24b3a0213/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/shubh sharma.jpeg">
            <h3>Networking and Social Media Coordinator</h3>
            <h2>Shubh Sharma</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shubh-sharma-shu19510/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>

        <div class="content">
            <img src="/Images/Teams/Rohan Singh.png">
            <h3>Editorial Lead</h3>
            <h2>Rohan Kumar Singh</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/rohan-singh-gangster"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>

        <div class="content">
            <img src="/Images/Teams/Nandini.png">
            <h3>Editorial Coordinator</h3>
            <h2>Nandini Pachauri</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/nandini-pachauri/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>






        <div class="content">
            <img src="/Images/Teams/Amrit Kaul.jpeg">
            <h3>Editorial Coordinator</h3>
            <h2>Amrit Kaul</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/amrit-kaul-289499208/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/ISHAN SHARMA.jpg">
            <h3>Graphic Design Lead</h3>
            <h2>Ishan Sharma</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/ishan-sharma-581ba4212/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>


        <div class="content">
            <img src="/Images/Teams/Kshitij Singh.JPG">
            <h3>Graphic Design Coordinator</h3>
            <h2>Kshitij Singh</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/kshitij-singh1118/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Shobhna Sharma.jpg">
            <h3>Graphic Design Coordinator</h3>
            <h2>Shobhna Sharma</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/shobhna-sharma-6500ba1b9/"><i
                            class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>

        <div class="content">
            <img src="/Images/Teams/Pranav Chauhan.jpg">
            <h3>Webmaster Lead</h3>
            <h2>Pranav Chauhan</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/pranav-chauhan-217bb11b9/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/TARUN KUMAR SHARMA.jpg">
            <h3>Videography Lead</h3>
            <h2>Tarun Kumar Sharma</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/tarun-kumar-sharma-7132a122b/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Roshni Sahoo.jpeg">
            <h3>Women in Engineering Lead</h3>
            <h2>Roshni Sahoo</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/roshni-sahoo-107513208/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/vandana chauhan.jpg">
            <h3>Women in Engineering Coordinator</h3>
            <h2>Vandana Chauhan</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/chvandana/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/srishti singh.jpeg">
            <h3>Women in Engineering Coordinator</h3>
            <h2>Srishti Singh</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/srishti-singh-819ba2202/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Sanjana K.jpg">
            <h3>Women in Engineering Coordinator</h3>
            <h2>Sanjana K</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/sanjana-k-2793421b5/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Saumya Taneja.jpeg">
            <h3>Women in Engineering Coordinator</h3>
            <h2>Saumaya Taneja</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/saumya-taneja-867625144/"><i
                            class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
        <div class="content">
            <img src="/Images/Teams/Simar Jyot Singh Narang.jpeg">
            <h3>Women in Engineering Coordinator</h3>
            <h2>Simar Jyot</h2>
            <div class="foot-icon">
                <li><a href="https://www.linkedin.com/in/sjsn2002/"><i class="fa-brands fa-linkedin"></i></a></li>
            </div>
        </div>
    </div>
</body>
<div class="title">
    <h1>IEEE DTU</h1>
</div>
<div class="container">
    <div class="content">
        <img src="/Images/Teams/hemang.jfif">
        <h3>Chairperson, IEEE DTU</h3>
        <h2>Hemang Sinha</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/hemang-sinha/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>

    <div class="content">
        <img src="/Images/Teams/Computer hai be.jpg">
        <h3>Vice-Chairperson, IEEE DTU</h3>
        <h2>Jaitn Pandey</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/jatinpandey02/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Piyush.jpg">
        <h3>Co-Vice Chair, IEEE DTU</h3>
        <h2>Piyush K. Sahoo</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/piyush-kumar-sahoo-dtu/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Priyansh Tyagi.jpeg">
        <h3>Treasurer, IEEE DTU</h3>
        <h2>Priyansh Tyagi</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/priyanshtyagi/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Aeshita.jpeg">
        <h3>General Secretary, IEEE DTU</h3>
        <h2>Aeshita Mathur</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/aeshita-mathur-584863200/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Joint.jpg">
        <h3>Joint Secretary, IEEE DTU</h3>
        <h2>Vaibhav Srivastava</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/vaibhav-2107/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/garvit .jpeg">
        <h3>Chairperson, Computer Society, IEEE DTU</h3>
        <h2>Garvit Kansal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/helewrer3/"><i class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Nitya.jpeg">
        <h3>Vice-Chair, Computer Society, IEEE DTU</h3>
        <h2>Nitya Mittal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/mittalnitya/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Jayant Jethi.jpg">
        <h3>Secretary, Computer Society, IEEE DTU</h3>
        <h2>Jayant Jethi</h2>
        <div class="foot-icon">
            <li><a href=" https://www.linkedin.com/in/jayant-jethi-492312197/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Himanshu-Jindal.jpg">
        <h3>Secretary, Computer Society, IEEE DTU</h3>
        <h2>Himanshu Jindal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/himanshu-jindal-199332a0/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Pranay-Khosla.jpg">
        <h3>Chairperson, PES-IAS, IEEE DTU</h3>
        <h2>Pranay Khosla</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/pranay-k-50432554/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Abhigyan.jpg">
        <h3>Vice-Chair, PES-IAS, IEEE DTU</h3>
        <h2>Abhigyan Adarsh</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/abhigyan-adarsh/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Nischay.jpeg">
        <h3>Secretary, PES-IAS, IEEE DTU</h3>
        <h2>Nischay</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/nischay-b87027214/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/sakshi panchal.jpg">
        <h3>Chairperson, WIE-AG, IEEE DTU</h3>
        <h2>Sakshi Panchal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/2331sakshi/"><i class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/SakshiArora.jpg">
        <h3>Vice-Chair, WIE-AG, IEEE DTU</h3>
        <h2>Sakshi Arora</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/sakshiarora8/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/devika.jpg">
        <h3>Secretary, WIE_AG, IEEE DTU</h3>
        <h2>Deviak Jaiswal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/devika-jaiswal-806960153/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Ayushee Agarwal.jpg">
        <h3>Secretary, WIE_AG, IEEE DTU</h3>
        <h2>Ayushee Aggarwal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/ayushee-agarwal-0b285b176/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Sidhant Semwal.jpg">
        <h3>Head of Technical Affairs, IEEE DTU</h3>
        <h2>Sidhant Semwal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/sidhantsemwal/"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Ritika.jpg">
        <h3>Head of Publications, IEEE DTU</h3>
        <h2>Ritika Kanojia</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/ritika-kanojia-4807a8204/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/Dikshant.jpg">
        <h3>Head of Hospitality, Logistics, IEEE DTU</h3>
        <h2>Dikshant Pabri</h2>
        <div class="foot-icon">
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
    <div class="content">
        <img src="/Images/Teams/devika.jpg">
        <h3>Head of Design, IEEE DTU</h3>
        <h2>Devika Jaiswal</h2>
        <div class="foot-icon">
            <li><a href="https://www.linkedin.com/in/devika-jaiswal-806960153/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
        </div>
    </div>
</div>
</body>

</html>