@import url("https://fonts.googleapis.com./css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Trirong");
* {
  margin: auto;
  box-sizing: border-box;

}

body {
  margin: 2em 0px;
  background: url(../Images/TeamsBackground.jpg);
  background-repeat: round;
  background-size: contain;
  background-position: center center;
  max-height: 100%;
  /* max-width: 100%; */
  /* width: 80%; */
}

header{
    text-align: center;
}
.title{
    text-align: center;
    color: rgb(71, 71, 255);
    font-family: "Trirong", serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.container{
    display: grid;
    margin: 2em 0em;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}
.container .content{
    margin: 2em 0em;
    text-align: center;
}
.container .content img{
    width: 80%;
    width:  15rem;
    height: 15rem;
    border-radius: 1rem;
    background-size: cover;
    object-fit: cover;
}
.container .content .foot-icon{
    list-style: none;
}
.container .content .foot-icon li a{
    text-decoration: none;
    font-size: 40px;
}

.container .content .foot-icon li a:visited{
    color: blue;
} 
@media only screen and (max-width:600px){
    .container{
        display:block;
    }
}
@media only screen and (max-width:768px) and (min-width:600px){
    .container{
        grid-template-columns: auto auto !important;
    }    
}
@media only screen and (max-width:1024px) and (min-width:768px){
    .container{
        grid-template-columns: auto auto auto !important;
    }    
}